body{
    background-color:black;
    border-color: white solid 1px
}
.navbar #logo{
    width: 170px;
    height: 100px;
}
.navbar{
    background-color:black;
    height: 16vh;
}
.navbar-dark .navbar-nav .nav-link{
    color:rgb(184, 183, 183);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:white;
}
.carousel-inner img{
    height: 100vh;
}
@media only screen and (max-width:600px){
    .carousel-inner img{
        height: 46vh;
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
}
